body {
	background-image: url("../images/swirl_pattern.png");
}

.panel {
	background-color: white;
	border: 2px solid black;
}

.panel-body {
	text-align: center;
}

.page-header {
	text-align: center;
}

.btn-danger {
	margin-top: 10px;
	margin-bottom: 10px;
}